@font-face {
  font-family: 'esri-logo';
  src: url("fonts/esri-logo.eot");
  src: url("fonts/esri-logo.eot?#iefix") format("embedded-opentype"), url("fonts/esri-logo.woff") format("woff"), url("fonts/esri-logo.ttf") format("truetype"), url("fonts/esri-logo.svg#esri-Set") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'esri-logo';
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #6d6e71;
}

.esri-logo {
  color: #bad045;
}
.esri-logo:after {
  content: "esrifront";
  color: black;
  margin-left: -1em;
}
.esri-logo:before {
  content: "esriback";
  color: #57A6D9;
  margin-right: -1em;
}

.terraformer {
  /*color: #267a40;*/
  color: rgba(38,122,64, 0.5);
  /*opacity: 0.5;*/
}
.terraformer:after {
  content: "terraformerfront";
  color: #000000;
  opacity: 0.5;
  margin-left: -1em;
}
.terraformer:before {
  content: "terraformerback";
  color: #912a1d;
  opacity: 0.7;
  margin-right: -1em;
}

.tugboat {
  /*color: #4f2e2e;*/
  color: rgba(79,46,46, 0.2);
  /*opacity: 0.2;*/
}
.tugboat:after {
  content: "tugboatfront";
  color: #382313;
  opacity: 1.0;
  margin-left: -1em;
}
.tugboat:before {
  content: "tugboatback";
  color: #d33c2b;
  opacity: 1.0;
  margin-right: -1em;
}
.tugboatlogotype {
  /*color: #4f2e2e;*/
  color: rgba(79,46,46, 0.2);
  /*opacity: 1.0;*/
}
.tugboatlogotype:after  {
  content: "tugboatlogotypefront";
  color: #382313;
  opacity: 1.0;
  margin-left: -1em;
}
.tugboatlogotype:before {
  content: "tugboatlogotypeback";
  color: #d33c2b;
  opacity: 1.0;
  margin-right: -1em;
}
h1 {
  text-align: center;
  font-size: 10rem;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 30rem;
  margin-top: -6rem;
  margin-bottom: -8rem;
}

h3 {
  font-family: helvetica, sans-serif;
  text-align: left;
  padding-left: 20vw;
  font-size: 1rem;
}