/* WARNING:	You are using ligatures for your icon font.
			Ligatures are not supported in IE 9 (and older).
			Use the Private Use Area encoding for best browser support.
==================================================================== */
@font-face {
	font-family: 'Color-Test';
	src:url('fonts/Color-Test.eot');
	src:url('fonts/Color-Test.eot?#iefix') format('embedded-opentype'),
		url('fonts/Color-Test.woff') format('woff'),
		url('fonts/Color-Test.ttf') format('truetype'),
		url('fonts/Color-Test.svg#Color-Test') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Retro-Set';
	src:url('fonts/Retro-Set.eot');
	src:url('fonts/Retro-Set.eot?#iefix') format('embedded-opentype'),
		url('fonts/Retro-Set.woff') format('woff'),
		url('fonts/Retro-Set.ttf') format('truetype'),
		url('fonts/Retro-Set.svg#Retro-Set') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Color-Test';
	content: attr(data-icon);
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-drk-orange, .icon-lgt-orange, .icon-white {
	font-family: 'Color-Test';
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-drk-orange:before {
	content: "\6f\72\61\6e\67\65";
}
.icon-lgt-orange:before {
	content: "\79\65\6c\6c\6f\77";
}
.icon-white:before {
	content: "\68\74\6d\6c";
}
